.mainDiv{
    margin-top:9%;
}

.prodctDiv{
    width:100%;
    display:grid;
    grid-template-columns: 15% 80%;
}

.leftDiv{
    height: 850px;
    border-right:0.7px solid #C4C4C4;
     border-bottom:0.7px solid #C4C4C4;
    margin-top:-16px;
}

.rightDiv{

    display:grid;
    grid-template-columns:repeat(4,23%);
    grid-gap:2%;
    margin-left:5%;
}

.mainBox:hover{
     box-shadow: 1px 1px 1px 1px rgba(0.1, 0.1, 0.2, 0.2);
}


.mainBox {
  position: relative;
    z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainBox:hover .overlay {
  display: block;
}

.prodImg{
  width: 100%;
  left: 0;

}


.button {
  position: absolute;
  width: 100%;
  border:none;
  border:1px solid black;
  top: 64%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button .link {
  width: 100%;
  padding: 5% 8%;
  border: none;
  text-align: center;
  background-color: white;
  color: black;
  border: solid 1px black;
  z-index: 1;
}

.mainBox:hover .button {
  opacity: 1;
}

@media screen and (max-width: 1143px) {
  .rightDiv{
    display:grid;
    grid-template-columns:repeat(3,30%);
    grid-gap:2%;
    margin-left:5%;
  }
 
  
  .button {
    position: absolute;
    width: 100%;
    top:55%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
}


@media screen and (max-width: 700px) {
  .rightDiv{
    display:grid;
    grid-template-columns:repeat(2,45%);
    grid-gap:4%;
    margin-left:17%;
  }
 
  
  .button {
    position: absolute;
    width: 100%;
    top:55%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }

  .leftDiv{
    width: 190px;
}

}

.filters{
  margin-top:2%;
  font-size:2vw;
  font-weight:700;
}

.selectBtn{
  margin-left:10%;
  width:18%;
  border: 1px solid #C4C4C4;
  margin-top:1%;
}


.btnDivpage{
  margin-left: 20%;
  display: flex;
  margin-top: 12px;
}

.prevBtn{
  width: 70px;
  height:40px;

  background-color: #FFFFFF;
  color: black;
  border-radius: 5px;
}

.nextBtn{
  width: 70px;
  height:40px;
  border:none;
  margin-left: 5%;
  background-color: #FFFFFF;
  color: black;
  border: 0.5px solid black;
   border-radius: 5px;
}

.pageNum{
  font-size:30px;
  text-align:center;
  margin-top:17px;
  margin-left:5px;
}

.checkDiv{
  margin-left:10%;
  margin-top:2%;
}

.checkDiv > input{
  width: 15px;
  height:15px;
}

.checkDiv>label{
  font-size:15px;
  margin-left: 2%;
  font-weight:700;
}

.checkDiv1{
   margin-left:10%;
  margin-top:2%;
}

.checkDiv1 > input{
  width: 15px;
  height:15px;
}

.checkDiv1>label{
  font-size:15px;
  margin-left: 2%;
  font-weight:500;
  color: #6e6b6b;
}


