

.bagButn{
    margin-left: 2%;
    font-size:17px;
    color:#282C3F;
    cursor: pointer;
}

.modal-div{
    display:grid;
    grid-template-columns: 30% 68%;
    height:180px;
    gap:1%;
    border-bottom: 1px solid #595959;
    margin-top:0.5%;
}

.modalImg{
    width:100%;
    height:160px;
    margin-left: 2%;
    margin-top: 1%;
}

.cartBrand{
    font-size:1.4vw;
    font-weight:700;
}

.cartCategory{
    line-height:0px;
    font-size:1.3vw;
    color: #595959;
}

.giftImg{
    width:50%;
    height:60px;
    margin-top: -10px;
}

.amountTotal{
    font-size:1.6vw;
    font-weight:700;
}

.placeBtn{
    width: 40%;
    height: 50%;
    border: none;
    background-color: #ff3f6c;
    color: #FFFFFF;
    font-size:1.4vw;
    font-weight:500;
}

.countBag{
    background-color: #ff3f6c;
    color: #FFFFFF;
    font-size:1.5vw;
    font-weight:700;
    margin-left: 3px;
}